<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fruitables - Vegetable Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- SweetAlert CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">

    <!-- jQuery (if not already included) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- SweetAlert JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>




    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.11.1/sweetalert2.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body>


    @await Component.InvokeAsync("Header")


    @RenderBody()

    @await Component.InvokeAsync("Footer")




    <script>





                $(function () {
            $('form[id^="addToCartForm-"]').submit(function (event) {
                event.preventDefault();

                var form = $(this);
                var url = form.attr('action');
                var productId = form.attr('asp-route-productId');

                $.post(url, { productId: productId })
                    .done(function (response) {
                        if (response.success) {
                            var newBasketCount = parseInt($('.basket-count').text()) + 1;
                            $('.basket-count').text(newBasketCount);

                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: response.message,
                                showConfirmButton: false,
                                timer: 800
                            }).then(function () {
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'You should login first.'
                            });
                        }
                    })
                    .fail(function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Failed to add product to cart. Please try again later.'
                        });
                    });
            });
        });



                                            $(document).on('click', '.category', function (e) {
                                                $(this).addClass('active').siblings().removeClass('active');
                                                e.preventDefault();
                                                const category = $(this).attr('category-id');
                                                const products = $('.fruite-item');

                                                products.each(function () {
                                                    if (category === $(this).attr('category-id')) {
                                                        $(this).parent().fadeIn();
                                                    }
                                                    else {
                                                        $(this).parent().hide();
                                                    }
                                                })

                                                if (category == 'All') {
                                                    products.parent().fadeIn();
                                                }
                                            });


                                            // Tab-menu
                                            $(document).on('click', '.categories .category', function (e) {
                                                e.preventDefault();
                                                let category = $(this).attr('category-id');
                                                let products = $('.fruite-item');

                                                products.each(function () {
                                                    if (category == $(this).attr('category-id')) {
                                                        $(this).parent().fadeIn();
                                                    }
                                                    else {
                                                        $(this).parent().hide();
                                                    }
                                                })
                                                if (category == 'All') {
                                                    products.parent().fadeIn();
                                                }
                                            })

                                            // Category filter
                                            $('.category-filter').on('click', function () {
                                                const categoryId = $(this).attr('category-id');

                                                $(".products .product-item").slice(0).remove();

                                                $.ajax({
                                                    type: "Get",
                                                    url: `Shop/CategoryFilter?id=${categoryId}`,
                                                    success: function (res) {
                                                        $('.products').append(res);
                                                    },
                                                });
                                            });

                                            //Price filter
                                            $('.form-range').on('change', function () {
                                                const value = $(this).val().trim();

                                                $(".products .product-item").slice(0).remove();

                                                $.ajax({
                                                    type: "Get",
                                                    url: `Shop/PriceFilter?price=${value}`,
                                                    success: function (res) {
                                                        $('.products').append(res);
                                                    },
                                                });
                                            });

                                            // Search
                                            $(document).on("keyup", ".search", function () {
                                                const value = $(this).val().trim();


                                                $(".products .product-item").slice(0).remove();

                                                $.ajax({
                                                    type: "Get",
                                                    url: `Shop/Search?searchText=${value}`,
                                                    success: function (res) {
                                                        $(".products").append(res);
                                                    }
                                                });
                                            });

                                            //Sorting
                                            $('#fruits').on('change', function () {
                                                const value = $(this).val().trim();

                                                $(".products .product-item").slice(0).remove();

                                                $.ajax({
                                                    type: "Get",
                                                    url: "Shop/Sorting",
                                                    data: { sort: value },
                                                    success: function (res) {
                                                        $('.products').append(res);
                                                    },
                                                });
                                            });
                                            // Increase
                                        $(document).on("click", ".btn-plus", function () {
                                    const id = $(this).attr('id');
                                    const btn = $(this);

                                    $.ajax({
                                        type: "Post",
                                        url: `Basket/Increase?id=${id}`,
                                        success: function (res) {
                                            btn.closest(".basket-item").find(".total").text(res.totalPrice + ' $');

                                            const count = $(".basket-count");
                                            count.text(parseInt(count.text()) + 1);

                                            let total = 0;
                                            $(".basket-item .total").each(function () {
                                                total += parseFloat($(this).text().replace('$', ''));
                                            });

                                            $(".total-price").text('$' + total.toFixed(2));
                                            Swal.fire({
                                                title: "Updated!",
                                                text: "Quantity increased successfully.",
                                                icon: "success",
                                                timer: 800,
                                                timerProgressBar: true,
                                                showConfirmButton: false
                                            });
                                        }
                                    });
                                });
                                // Decrease
                        $(document).on("click", ".btn-minus", function () {
                            const id = $(this).attr('id');
                            const btn = $(this);

                            $.ajax({
                                type: "Post",
                                url: `Basket/Decrease?id=${id}`,
                                success: function (res) {
                                    const basketItem = btn.closest(".basket-item");

                                    if (basketItem.find(".quantity input").val() == 0) {
                                        basketItem.remove();
                                    } else {
                                        basketItem.find(".total").text(res.totalPrice + ' $');
                                    }

                                    const count = $(".basket-count");
                                    count.text(parseInt(count.text()) - 1);

                                    let total = 0;
                                    $(".basket-item .total").each(function () {
                                        total += parseFloat($(this).text().replace('$', ''));
                                    });

                                    $(".total-price").text('$' + total.toFixed(2));

                                    Swal.fire({
                                        title: "Updated!",
                                        text: "Quantity decreased successfully.",
                                        icon: "success",
                                        timer: 800,
                                        timerProgressBar: true,
                                        showConfirmButton: false
                                    });
                                }
                            });
                        });
                function updateCartContent() {
                    $.ajax({
                        url: "/Basket/GetCart",
                        type: "GET",
                        success: function (data) {
                            if (data.trim() === "") {
                                $("#cart-content").html('<div class="container py-5 text-center">' +
                                    '<h3>Your cart is empty.</h3>' +
                                    '<p>Please add items to your cart to proceed.</p>' +
                                    '<a  asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Shopping</a>' +
                                    '</div>');
                            } else {
                                $("#cart-content").html(data);
                            }
                        },
                        error: function () {
                            console.log("Error fetching cart data.");
                        }
                    });
                }

                 //Delete
                $(document).on("click", ".delete-basket", function () {
                    const id = $(this).attr('id');
                    const btn = $(this);

                    Swal.fire({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it!"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type: "Post",
                                url: `Basket/Delete?id=${id}`,
                                success: function (res) {
                                    Swal.fire({
                                        title: "Deleted!",
                                        text: "Your product was removed from cart.",
                                        icon: "success"
                                    });

                                    btn.closest(".basket-item").remove();
                                    const count = $(".basket-count");

                                    count.text(parseInt(count.text()) - 1);
                                    $(".total-price").text("$" + res);

                                    updateCartContent();
                                },
                                error: function () {
                                    Swal.fire({
                                        title: "Error!",
                                        text: "Failed to delete the product.",
                                        icon: "error"
                                    });
                                }
                            });
                        }
                    });
                });

       

    </script>




    <!-- JavaScript Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.11.1/sweetalert2.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
</body>


</html>



