@model ProductCreateVM

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Product</h4>
            @*<img src="~/img/@Model.Images.FirstOrDefault(m=>m.IsMain)" />*@

            <form class="forms-sample" method="post" enctype="multipart/form-data">


                <div class="mt-5 form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                    <span class="text-danger mt-2" asp-validation-for="Name"></span>
                </div>



                <div class="form-group">
                    <label asp-for="Origin">Origin</label>
                    <input asp-for="Origin" type="text" class="form-control" placeholder="Origin">
                    <span class="text-danger mt-2" asp-validation-for="Origin"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" type="text" class="form-control" placeholder="Description">
                    <span class="text-danger mt-2" asp-validation-for="Description"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" type="number" class="form-control" placeholder="Price">
                    <span class="text-danger mt-2" asp-validation-for="Price"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Check">Check</label>
                    <input asp-for="Check" type="text" class="form-control" placeholder="Check">
                    <span class="text-danger mt-2" asp-validation-for="Check"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Quality">Quality</label>
                    <input asp-for="Quality" type="text" class="form-control" placeholder="Quality">
                    <span class="text-danger mt-2" asp-validation-for="Quality"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Weight">Weight</label>
                    <input asp-for="Weight" type="text" class="form-control" placeholder="Weight">
                    <span class="text-danger mt-2" asp-validation-for="Weight"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating">Rating</label>
                    <input asp-for="Rating" type="number" class="form-control" placeholder="Rating">
                    <span class="text-danger mt-2" asp-validation-for="Rating"></span>
                </div>

                <div class="form-group">
                    <label asp-for="MinWeight">MinWeight</label>
                    <input asp-for="MinWeight" type="text" class="form-control" placeholder="MinWeight">
                    <span class="text-danger mt-2" asp-validation-for="MinWeight"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId">Category</label>

                    <select class="form-control text-black" asp-for="CategoryId" asp-items="@ViewBag.Categories">
                    </select>
                    <span class="text-danger mt-2" asp-validation-for="MinWeight"></span>
                </div>
                  <div class="mt-3 form-group">
                    <label asp-for="Images">Images</label>
                    <input asp-for="Images" class="form-control">
                    <span class="text-danger mt-2" asp-validation-for="Images"></span>
                </div>


                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <a class="btn btn-light" asp-area="Admin" asp-controller="Product" asp-action="Index">Back</a>
            </form>
        </div>
    </div>
</div>